.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

section input {
  border-radius: 10px;
  margin-bottom: 10px;
}
